<nav>
    <div class="start">
      <a href="/" class="app-logo">Blog App</a>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search a post" />
      <button>Search</button>
    </div>
    <div class="end">
      <div class="non-logged-menu" *ngIf="!isUserLogged()">
        <a href="#">Log In</a>
        <a routerLink="sign-up">Create account</a>
      </div>
      <div class="logged-menu" *ngIf="isUserLogged()">
        <div class="dropdown">
          <button class="dropbtn">
            <img src="assets/images/author-pic.svg" alt="Author picture" />
          </button>
          <div class="dropdown-content">
            <a href="#">
              <span>User 1</span>
              <span>@user1</span>
            </a>
            <a>Dashboard</a>
            <a>Write a post</a>
            <a>Reading list</a>
            <a>Settings</a>
            <a [routerLink]="" (click)="logout()">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
</nav>
