<div class="form-wrapper">
  <div class="form-wrapper__header">
    <h2>Register User</h2>
  </div>
  <form [formGroup]="userForm" class="form-wrapper__group" (ngSubmit)="onSubmit()">
    <div class="group-field">
      <input type="text" placeholder="User name" formControlName="name" />
      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Password" formControlName="password" />
      <input type="password" placeholder="Confirm the password" formControlName="confPassword" />
    </div>
    <div class="form-footer">
        <button type="submit" class="bt-first">Register</button>
        <button class="bt-last">Cancel</button>
    </div>
  </form>
</div>
