<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="header">
      <h1>Create an account</h1>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Enter your name"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter a password"
        required
      />

      <label for="passw-confirm">Confirm the Password</label>
      <input
        type="password"
        id="passw-confirm"
        formControlName="passwConf"
        placeholder="Confirm the password"
        required
      />
    </div>
    <div class="form-footer">
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </div>
</form>
