.tag-list {
  top: 80px;
  height: 70vh;
  display: flex;
  min-width: 210px;
  position: sticky;
  align-self: baseline;
  background-color: white;
  flex-direction: column;
  margin-right: 1em;
  overflow-y: auto;
  box-shadow: 1px 1px rgba(1,1,1,.1);

  h3 {
    padding: 0.6em 1em;
  }
}

//Scrollbar styles

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: #e1e1e1;
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  //background: #ddd;
  background: #ecf0f1;
}
