:host {
  padding-bottom: 0.8rem;
  border-radius: 6px;

  .tags {
    height: 320px;
    display: flex;
    flex-direction: column;

    .header {
      h3 {
        padding-top: 0.8rem;
        padding-bottom: 0;
      }

      padding: 0.2rem 1rem;
    }

    .tags-items {
      height: 100%;
      padding-left: 1rem;
      overflow-y: auto;

      .tg-item {
        padding: 0.1rem;
      }
    }
  }
}
