<div class="post">
  <div class="post-header">
    <img src="assets/images/author-pic.svg" alt="Author picture" />
    <div class="post-meta">
      <span>{{postItem.author.name}}</span>
      <span>{{dayMonth}}</span>
    </div>
  </div>
  <div class="post-content">
    <a href="#">
      <h2>{{postItem.title}}</h2>
    </a>
    <div class="post-tags">
      <app-tag [tagItem]=tag *ngFor="let tag of postItem.tagList"></app-tag>
    </div>
    <div class="post-footer">
      <div class="interact-buttons">
        <a href="#">
          <img src="assets/images/heart.svg" alt="Reactions" />
          <span> 1 reactions</span>
        </a>
        <a href="#">
          <img src="assets/images/comments.svg" alt="Comments" />
          <span>10 Comments</span>
        </a>
      </div>
      <span>3 min read</span>
    </div>
  </div>
</div>
