<div class="post-item">
  <div class="post-item__header">
    <a href="#">
      <h2>{{ post.title }}</h2>
    </a>
    <div class="post-info">
      <span
        >Posted on: {{ post.updatedAt | date: "mediumDate" }} | By:
        {{ post.author.name }}</span
      >
    </div>
  </div>
  <div class="post-item__body">
    <div class="body_content" [innerHTML]="postDescription()"></div>
    <div class="post-tags">
      <app-tag *ngFor="let tag of tags" [tag]="tag"></app-tag>
    </div>
  </div>
  <div class="post-item__footer">
    <div class="post-actions">
      <div class="action-item">
        <img src="../../../assets/images/favorite.png" alt="" />
        <a routerLink="" (click)="onReaction()"><span class="react-times">{{countReactions()}}</span> Reactions</a>
      </div>
      <div class="action-item">
        <img src="../../../assets/images/chat_bubble.png" alt="" />
        <a href="#"><span class="comm-times">0</span> Comments</a>
      </div>
    </div>
    <div class="footer_right">
      <span class="time-reading">{{ post.timeRead }}</span>
    </div>
  </div>
</div>
